No Place for Hate

We seek to find the correlation of the occurrence of Hate Crimes and:
* Education
* Poverty
* Unemployment Rates

In [59]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress

In [67]:
# import and merge data sets - Education, and Unemployment Rates by state

edu_data = pd.read_csv("Resources/EducationReport.csv")
pov_data = pd.read_csv("Resources/PovertyEstimates.csv")
unemp_data = pd.read_csv("Resources/UnEmploymentReport.csv")
edu_data.head()

,Unnamed: 0,Total,Total.1,Total.2,Total.3,Total.4,Urban,Urban.1,Urban.2,Urban.3,Urban.4,Rural,Rural.1,Rural.2,Rural.3,Rural.4
0,Name,1970,1980,1990,2000,2014-2018,1970,1980,1990,2000,2014-2018,1970,1980,1990,2000,2014-2018
1,United States,10.70%,16.20%,20.30%,24.40%,31.50%,11.50%,17.50%,22.00%,26.20%,33.50%,6.70%,10.50%,12.30%,14.90%,19.60%
2,Alabama,7.80%,12.20%,15.70%,19.00%,24.90%,8.90%,13.70%,17.80%,21.70%,28.00%,5.30%,8.20%,9.80%,11.60%,15.20%
3,Alaska,14.10%,21.20%,23.10%,24.70%,29.20%,15.50%,22.50%,25.10%,26.60%,31.80%,13.50%,18.90%,19.20%,21.00%,23.90%
4,Arizona,12.60%,17.40%,20.30%,23.50%,28.90%,13.00%,17.90%,21.00%,24.20%,29.60%,7.50%,10.30%,9.80%,12.40%,15.80%

In [68]:
cols_to_keep = ["Unnamed: 0","Total","Total.1","Total.2","Total.3","Total.4"]
# edu_data_dropcol= edu_data.filter(like='Total')
edu_data_dropcol=edu_data[cols_to_keep]
edu_data_dropcol.head()

      Unnamed: 0   Total Total.1 Total.2 Total.3    Total.4
0           Name    1970    1980    1990    2000  2014-2018
1  United States  10.70%  16.20%  20.30%  24.40%     31.50%
2        Alabama   7.80%  12.20%  15.70%  19.00%     24.90%
3         Alaska  14.10%  21.20%  23.10%  24.70%     29.20%
4        Arizona  12.60%  17.40%  20.30%  23.50%     28.90%

In [69]:
new_header = edu_data_dropcol.iloc[0] #grab the first row for the header
edu_data_dropcol = edu_data_dropcol[0:] #take the data less the header row
edu_data_dropcol.columns = new_header #set the header row as the df header
edu_data_clean=edu_data_dropcol.drop([0,1], axis=0)
edu_data_clean.head()

0        Name    1970    1980    1990    2000 2014-2018
2     Alabama   7.80%  12.20%  15.70%  19.00%    24.90%
3      Alaska  14.10%  21.20%  23.10%  24.70%    29.20%
4     Arizona  12.60%  17.40%  20.30%  23.50%    28.90%
5    Arkansas   6.70%  10.80%  13.30%  16.70%    22.60%
6  California  13.40%  19.60%  23.40%  26.60%    33.30%

In [65]:
unemp_data.head()

,Unnamed: 0,Unnamed: 1,Unemployment Rate (percent),Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,FIPS,Name,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,Median Household Income (2018)
1,24000,Maryland,7.2,7.0,6.6,5.8,5.1,4.5,4.2,3.9,3.6,"$83,076"
2,11000,District of Columbia,10.2,9.0,8.5,7.8,6.9,6.1,6.1,5.7,5.5,"$82,533"
3,34000,New Jersey,9.3,9.3,8.2,6.8,5.8,5.0,4.6,4.1,3.6,"$81,777"
4,15000,Hawaii,6.8,6.0,4.9,4.4,3.6,3.0,2.4,2.5,2.7,"$80,527"

In [66]:
new_header_un = unemp_data.iloc[0] #grab the first row for the header
unemp_data = unemp_data[0:] #take the data less the header row
unemp_data.columns = new_header_un #set the header row as the df header
unemp_data_clean=unemp_data.drop([0], axis=0)
unemp_data_clean.head()

,FIPS,Name,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,Median Household Income (2018)
1,24000,Maryland,7.2,7.0,6.6,5.8,5.1,4.5,4.2,3.9,3.6,"$83,076"
2,11000,District of Columbia,10.2,9.0,8.5,7.8,6.9,6.1,6.1,5.7,5.5,"$82,533"
3,34000,New Jersey,9.3,9.3,8.2,6.8,5.8,5.0,4.6,4.1,3.6,"$81,777"
4,15000,Hawaii,6.8,6.0,4.9,4.4,3.6,3.0,2.4,2.5,2.7,"$80,527"
5,25000,Massachusetts,7.3,6.7,6.7,5.7,4.8,3.9,3.7,3.4,2.9,"$79,817"

In [ ]:
# Merge the merged Demographic Data with Hate Crimes 358 by state

In [ ]:
# occurrence of Hate Crimes to Education (Bachelor's Degree vs. High School) by State

In [1]:
# occurrence of Hate Crimes to Poverty Level by State

In [ ]:
# occurrence of Hate Crimes to Poverty Level by State

In [ ]:
# Clean FBI Data set - take 2014-2018 data and average hate crimes fbi