No Place for Hate

We seek to find the correlation of the occurrence of Hate Crimes and:
* Education
* Poverty
* Unemployment Rates

In [1]:
#Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats import linregress

In [2]:
# import and merge data sets - Education, and Unemployment Rates by state
#read Education csv file and review the sample rows
edu_data = pd.read_csv("Resources/EducationReport.csv")
edu_data.head(3)

,Unnamed: 0,Total,Total.1,Total.2,Total.3,Total.4,Urban,Urban.1,Urban.2,Urban.3,Urban.4,Rural,Rural.1,Rural.2,Rural.3,Rural.4
0,Name,1970,1980,1990,2000,2014-2018,1970,1980,1990,2000,2014-2018,1970,1980,1990,2000,2014-2018
1,United States,10.70%,16.20%,20.30%,24.40%,31.50%,11.50%,17.50%,22.00%,26.20%,33.50%,6.70%,10.50%,12.30%,14.90%,19.60%
2,Alabama,7.80%,12.20%,15.70%,19.00%,24.90%,8.90%,13.70%,17.80%,21.70%,28.00%,5.30%,8.20%,9.80%,11.60%,15.20%

In [11]:
#create a new dataframe with only needed columns for years 2014-2018
edu_data_df = pd.DataFrame(edu_data)
edu_data_mycolm = edu_data_df[["Unnamed: 0", "Total.4", "Urban.4", "Rural.4"]]
edu_data_upd = edu_data_mycolm.rename(columns={"Unnamed: 0" : "State Name", "Total.4" : "Total Edu", "Urban.4" : "Total Edu Urban", "Rural.4" : "Total Edu Rural"})
edu_data_upd.head(5)

      State Name  Total Edu Total Edu Urban Total Edu Rural
0           Name  2014-2018       2014-2018       2014-2018
1  United States     31.50%          33.50%          19.60%
2        Alabama     24.90%          28.00%          15.20%
3         Alaska     29.20%          31.80%          23.90%
4        Arizona     28.90%          29.60%          15.80%

In [4]:
unempl_data = pd.read_csv("Resources/Unemployment.csv", encoding="ISO-8859-1")
unempl_data.head(5)

,FIPStxt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,0,US,United States,NaN,NaN,NaN,"142,601,667","136,904,680","5,696,987",4.0,...,"161,389,026","155,102,319","6,286,707",3.9,"163,100,055","157,115,247","5,984,808",3.7,"61,937",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,133,223","2,035,594","97,629",4.6,...,"2,216,627","2,130,845","85,782",3.9,"2,241,747","2,174,483","67,264",3.0,"49,881",100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,"21,720","20,846",874,4.0,...,"26,196","25,261",935,3.6,"26,172","25,458",714,2.7,"59,338",119.0
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,"69,533","66,971","2,562",3.7,...,"95,233","91,809","3,424",3.6,"97,328","94,675","2,653",2.7,"57,588",115.5
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,"11,373","10,748",625,5.5,...,"8,414","7,987",427,5.1,"8,537","8,213",324,3.8,"34,382",68.9

In [12]:
#filter data to get to the state level (the columns where rural urban code & metro 2013 columns are empty)
unempl_data['Rural_urban_continuum_code_2013'].replace('', np.nan, inplace=True)
unempl_state_interim = unempl_data[unempl_data['Rural_urban_continuum_code_2013'].isnull()]
unempl_state_interim
unempl_data_clean = unempl_state_interim[unempl_state_interim['Metro_2013']!=0]
unempl_data_clean.head(3)

,FIPStxt,Stabr,area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2000,Employed_2000,Unemployed_2000,Unemployment_rate_2000,...,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Civilian_labor_force_2019,Employed_2019,Unemployed_2019,Unemployment_rate_2019,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,0,US,United States,NaN,NaN,NaN,"142,601,667","136,904,680","5,696,987",4.0,...,"161,389,026","155,102,319","6,286,707",3.9,"163,100,055","157,115,247","5,984,808",3.7,"61,937",NaN
1,1000,AL,Alabama,NaN,NaN,NaN,"2,133,223","2,035,594","97,629",4.6,...,"2,216,627","2,130,845","85,782",3.9,"2,241,747","2,174,483","67,264",3.0,"49,881",100.0
69,2000,AK,Alaska,NaN,NaN,NaN,"319,511","299,146","20,365",6.4,...,"352,662","329,901","22,761",6.5,"347,779","326,430","21,349",6.1,"74,912",100.0

In [18]:
#select columns needed for years 2014-2018
unempl_data_mycolm = unempl_data_clean[["Stabr", "area_name", "Civilian_labor_force_2018", "Employed_2018", "Unemployed_2018", "Unemployment_rate_2018"]]
unempl_data_mycolm

,Stabr,area_name,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018
0,US,United States,"161,389,026","155,102,319","6,286,707",3.9
1,AL,Alabama,"2,216,627","2,130,845","85,782",3.9
69,AK,Alaska,"352,662","329,901","22,761",6.5
102,AZ,Arizona,"3,422,583","3,260,518","162,065",4.7
118,AR,Arkansas,"1,353,305","1,303,995","49,310",3.6
194,CA,California,"19,280,821","18,460,725","820,096",4.3
253,CO,Colorado,"3,080,661","2,983,498","97,163",3.2
318,CT,Connecticut,"1,900,664","1,821,891","78,773",4.1
327,DE,Delaware,"481,773","463,542","18,231",3.8
331,DC,District of Columbia,"404,739","381,703","23,036",5.7
333,FL,Florida,"10,173,537","9,808,656","364,881",3.6
401,GA,Georgia,"5,080,472","4,880,038","200,434",3.9
561,HI,Hawaii,"675,184","658,256","16,928",2.5
566,ID,Idaho,"857,207","832,286","24,921",2.9
611,IL,Illinois,"6,463,957","6,184,805","279,152",4.3
714,IN,Indiana,"3,381,609","3,263,751","117,858",3.5
807,IA,Iowa,"1,690,960","1,646,708","44,252",2.6
907,KS,Kansas,"1,477,847","1,429,229","48,618",3.3
1013,KY,Kentucky,"2,057,791","1,968,611","89,180",4.3
1134,LA,Louisiana,"2,104,497","2,001,995","102,502",4.9
1199,ME,Maine,"695,679","673,150","22,529",3.2
1216,MD,Maryland,"3,221,603","3,094,569","127,034",3.9
1241,MA,Massachusetts,"3,785,489","3,658,286","127,203",3.4
1256,MI,Michigan,"4,908,714","4,705,360","203,354",4.1
1340,MN,Minnesota,"3,071,433","2,981,153","90,280",2.9
1428,MS,Mississippi,"1,269,134","1,207,680","61,454",4.8
1511,MO,Missouri,"3,053,105","2,956,667","96,438",3.2
1627,MT,Montana,"528,834","509,568","19,266",3.6
1684,NE,Nebraska,"1,023,491","993,561","29,930",2.9
1778,NV,Nevada,"1,503,683","1,436,891","66,792",4.4
1796,NH,New Hampshire,"762,758","743,182","19,576",2.6
1807,NJ,New Jersey,"4,432,520","4,250,796","181,724",4.1
1829,NM,New Mexico,"938,245","892,331","45,914",4.9
1863,NY,New York,"9,521,869","9,127,699","394,170",4.1
1926,NC,North Carolina,"4,986,138","4,787,719","198,419",4.0
2027,ND,North Dakota,"403,583","393,199","10,384",2.6
2081,OH,Ohio,"5,780,747","5,521,681","259,066",4.5
2170,OK,Oklahoma,"1,840,609","1,777,564","63,045",3.4
2248,OR,Oregon,"2,097,202","2,012,235","84,967",4.1
2285,PA,Pennsylvania,"6,423,711","6,150,782","272,929",4.2
2353,RI,Rhode Island,"554,554","532,478","22,076",4.0
2359,SC,South Carolina,"2,339,939","2,259,057","80,882",3.5
2406,SD,South Dakota,"459,565","445,472","14,093",3.1
2473,TN,Tennessee,"3,254,261","3,139,888","114,373",3.5
2569,TX,Texas,"13,816,690","13,285,118","531,572",3.8
2824,UT,Utah,"1,569,969","1,522,290","47,679",3.0
2854,VT,Vermont,"345,300","336,496","8,804",2.5
2869,VA,Virginia,"4,341,153","4,209,651","131,502",3.0
3003,WA,Washington,"3,807,013","3,637,581","169,432",4.5
3043,WN,West Virginia,"785,196","744,326","40,870",5.2
3099,WI,Wisconsin,"3,118,301","3,024,747","93,554",3.0
3172,WI,Wyoming,"291,428","280,076","11,352",3.9
3196,PR,Puerto Rico,"1,078,187","979,006","99,181",9.2

In [ ]:
# Merge the merged Demographic Data with Hate Crimes 358 by state

In [ ]:
# occurrence of Hate Crimes to Education (Bachelor's Degree vs. High School) by State

In [ ]:
# occurrence of Hate Crimes to Poverty Level by State

In [ ]:
# occurrence of Hate Crimes to Poverty Level by State

In [ ]:
# Clean FBI Data set - take 2014-2018 data and average hate crimes fbi